package ${main.packageName}.service;

import java.util.List;
import java.util.Map;

import ${main.packageName}.entity.${main.capitalEntityName};
import ${main.packageName}.entity.${detail.capitalEntityName};
import com.bosssoft.egov.asset.activiti.entity.ActivitiParams;
import com.bosssoft.egov.asset.activiti.entity.ProcessResult;
import com.bosssoft.platform.common.lang.data.Page;
import com.bosssoft.platform.common.lang.data.Searcher;

/**
 *
 * @ClassName 类名：${main.capitalServiceName}
 * @Description 功能说明： ${main.comments}接口类
 *              <p>
 *              TODO
 *              </p>
 ***********************************************************************
 * @date 创建日期：${createDate}
 * @author 创建人：${author}
 * @version 版本号：V1.0
 *          <p>
 ****************************修订记录************************************
 * 
 *          ${createDate} ${author} 创建该类功能。
 *
 ***********************************************************************
 *          </p>
 */ 
public interface ${main.capitalServiceName} {

	
	/**
	 * 获取${main.comments}分页.
	 * 
	 */ 
	Page<${main.capitalEntityName}> query${main.capitalEntityName}Page(Searcher searcher, Page<${main.capitalEntityName}> page);


	/**
	 * 暂存.
	 * 
	 */ 
	void doTempSave(${main.capitalEntityName} ${main.entityName}, List<${detail.capitalEntityName}> ${detail.entityName}List,
			ActivitiParams params);

	
	/**
	 * 根据单据ID获取${main.comments}实体.
	 * 
	 */  
	${main.capitalEntityName} get${main.capitalEntityName}ByPrimaryKey(Long billId);

    /**
	 * 删除.
	 * 
	 */ 
	ProcessResult doDelete(${main.capitalEntityName} ${main.entityName});


	/**
	 * 审核过程中查看，工作流记录该过程.
	 * 
	 */ 
	void viewRecrod(ActivitiParams params);


	/**
	 * 审核.
	 * 
	 */
	ProcessResult doAuditOperation(${main.capitalEntityName} ${main.entityName}, ActivitiParams params);


	/**
	 * 判断是否可以被驳回.
	 * 
	 */
	List<Map<String, Object>> isCanReject(Long id);
}
 
 
