<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id=toolbar role="group">
						<!-- <form id="queryForm" class="form-group fl ">
							<div class="input-group w200 ">
								<span class="input-group-addon"> 表名</span> <input
									name="tableName" class="form-control" placeholder="">
							</div>
						</form> -->
						<div class="columns pull-left ml10">
							<button type="button" class="btn  btn-primary"
								onclick="start()">
								<i class="" aria-hidden="true"></i>录入
							</button>
							<button type="button" class="btn  btn-warning" onclick="complete()">
								<i class="" aria-hidden="true"></i>审核
							</button>
						</div>
					</div>
					<table id="table"
						class="bootstrap-table table table-bordered table-hover "
						data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>

	<script type="text/javascript"
		src="/js/app/activity/activity.js">
		
	</script>
</body>

</html>