package ${detail.packageName}.mapper;

import org.apache.ibatis.annotations.Param;

import ${detail.packageName}.entity.${detail.capitalEntityName};
import com.bosssoft.platform.common.lang.data.Page;
import com.bosssoft.platform.common.lang.data.Searcher;
import com.bosssoft.platform.persistence.common.Mapper;

/**
 *
 * @ClassName 类名：${detail.capitalMapperName}
 * @Description 功能说明： ${detail.comments}接口类
 *              <p>
 *              TODO
 *              </p>
 ***********************************************************************
 * @date 创建日期：${createDate}
 * @author 创建人：${author}
 * @version 版本号：V1.0
 *          <p>
 ****************************修订记录************************************
 * 
 *          ${createDate} ${author} 创建该类功能。
 *
 ***********************************************************************
 *          </p>
 */ 
public interface ${detail.capitalMapperName} extends Mapper<${detail.capitalEntityName}>{

	/**	
	 * 
	 * <p>函数名称：        </p>
	 * <p>功能说明：分业查询
	 *
	 * </p>
	 *<p>参数说明：</p>
	 * @param searcher
	 * @param page
	 * @return
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者：${author}
	 */
    Page<${detail.capitalEntityName}> query${detail.capitalEntityName}Page(@Param("searcher")Searcher searcher,@Param("page")Page<${detail.capitalEntityName}> page);
			

	/**
	 * 
	 * <p>
	 * 函数名称：
	 * </p>
	 * <p>
	 * 功能说明：根据单据ID删除明细
	 *
	 * </p>
	 * <p>
	 * 参数说明：
	 * </p>
	 * 
	 * @param billId
	 * @return
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者：${author}
	 */
	int deleteDetailsByBillId(@Param("billId") Long billId);

}