<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${main.packageName}.mapper.${main.capitalMapperName}">

    <resultMap id="${main.mapperName}Map" type="${main.packageName}.mapper.${main.capitalMapperName}" >
         #foreach ($tableField in $main.tableFields)
             <result property="$tableField.propertyName" column="$tableField.columnName" />
         #end
	 </resultMap>

   <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    #foreach ($tableField in $main.tableFields)
    $tableField.columnName#if($foreach.hasNext),#end   
    #end
    </sql>
    
    
     <select id="${main.capitalEntityName}Page" resultMap="${main.mapperName}Map">
    	SELECT     
    	<include refid="Base_Column_List" />
        FROM ${main.tableName} a
         where exists(select 1 from v${main.tableName} where a.BILL_ID = BILL_ID
							<trim prefix="AND" prefixOverrides="and | or ">
							   <if test="searcher != null and searcher != '' and searcher.__QUERYCON != null and searcher.__QUERYCON != ''">
									${searcher.__QUERYCON}
								</if>
							</trim>
						  ${DRC_SQL}) 
          ${DRC_SQL}
	     
	     ORDER BY CREATEDATE DESC
    </select>
    
     <delete id="deleteByBillId"
		parameterType="java.lang.Long">
		DELETE FROM ${main.tableName} WHERE
		BILL_ID=#{billId}
	</delete>
	
	
	<select id="isCanReject" resultType="java.util.Map">
		select * from (
			select r.bill_date,r.org_code,r.bill_code, '$!{main.comments}' as biz_name
			  from ${main.tableName} r, ${detail.tableName} rd
			 where r.bill_id = rd.bill_id
			   and r.bill_status != 3
			   and rd.bill_id=  #{id}
		 ) where 1=1
		  ${DRC_SQL}
    </select>

</mapper>
