package ${packageName}.service;

import com.baomidou.mybatisplus.service.IService;

import ${packageName}.entity.${capitalEntityName};

/**
 *
 * @ClassName 类名：${capitalServiceName}
 * @Description 功能说明： ${comments} 服务类
 *              <p>
 *              TODO
 *              </p>
 ***********************************************************************
 * @date 创建日期：${createDate}
 * @author 创建人：${author}
 * @version 版本号：V1.0
 *          <p>
 ****************************修订记录************************************
 * 
 *          ${createDate} ${author} 创建该类功能。
 *
 ***********************************************************************
 *          </p>
 */ 
public interface ${capitalServiceName} extends IService<${capitalEntityName}> {

} 
