<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@taglib uri="http://www.bosssoft.com.cn/tags" prefix="af"%>
<title>项目计划登记</title>
<af:jsfile path="$!{main.xmlJsPath}/${main.classname}_add.js"  id="${main.classname}_add"  onPageLoad="${main.classname}_add.init" />
<link rel="stylesheet" href="resources/egov/common/css/commonBill.css"/>

<div class="content-main"> 
		<af:page id="${main.entityName}Page"></af:page>
</div>

